<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog Breed Recommendation System</title>
  <link rel="stylesheet" href="/stylesheets/adminhome.css">
  <!-- FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="user-info">
        <div class="user-avatar">
          <%=sessions.loginsession.name.charAt(0).toUpperCase()%>
        </div>
        <div class="user-email">
          <%=sessions.loginsession.name%>
        </div>
      </div>

      <ul class="menu">
        <li class="active">
          <a href="/adminhome">
            <img src="/images/ภาพรวมสีขาว.png" alt="ภาพรวม">
            <p>ภาพรวม</p>
          </a>
        </li>


        <li   >
          <a href="/dog">
            <img src="/images/จัดการพันธุ์สุนัข.png" alt="จัดการพันธุ์สุนัข">
            <p>จัดการพันธุ์สุนัข</p>
          </a>
        </li>

        <li>
          <a href="/userdetails">
            <img src="/images/จัดการบัญชีผู้ใช้.png" alt="จัดการบัญชีผู้ใช้">
            <p>จัดการบัญชีผู้ใช้</p>
          </a>
        </li>
        <li>
          
            
        </li>
        <li>
          <a href="/login/logout"><button class="logout">ออกจากระบบ</button></a>
        </li>
      </ul>


    </div>

    <div class="content">
      <div class="header">
        ภาพรวม
  
      </div>
      <div class="card">
        <img src="/images/แสดงผู้ใช้งาน.png" alt="User Icon">
        <div class="card-title">ผู้ใช้</div>
        <div class="card-count">
          <%= countUser %>
        </div>
      </div>
      <div class="card">
        <img src="/images/แสดงแอดมิน.png" alt="Admin Icon">
        <div class="card-title">แอดมิน</div>
        <div class="card-count">
          <%= countAdmin %>
        </div>
      </div>
      <div class="card">
        <img src="/images/ผู้ใช้งานทั้งหมด.png" alt="All Users Icon">
        <div class="card-title">ผู้ใช้งานทั้งหมด</div>
        <div class="card-count">
          <%= countUser + countAdmin %>
        </div>
      </div>


    </div>
  </div>

</body>

</html>