<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog Breeds-userdetails</title>
  <link rel="stylesheet" href="/stylesheets/userdetails.css">
  <!-- FontAwesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <script>
    function confirmDelete() {
      return confirm('คุณแน่ใจหรือไม่ว่าต้องการลบรายการนี้?'); // แสดงกล่องข้อความยืนยัน
    }
  </script>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="user-info">
        <div class="user-avatar">
          <%=sessions.loginsession.name.charAt(0).toUpperCase()%>
        </div>
        <div class="user-email">
          <%=sessions.loginsession.name%>
        </div>
      </div>

      <ul class="menu">
        <li>
          <a href="/adminhome">
            <img src="/images/ภาพรวมสีดำ.png" alt="ภาพรวม">
            <p>ภาพรวม</p>
          </a>
        </li>

        <li>
          <a href="/dog">
            <img src="/images/จัดการพันธุ์สุนัข.png" alt="จัดการพันธุ์สุนัข">
            <p>จัดการพันธุ์สุนัข</p>
          </a>
        </li>

        <li class="active">
          <a href="/userdetails">
            <img src="/images/จัดการบัญชีผู้ใช้สีขาว.png" alt="จัดการบัญชีผู้ใช้">
            <p>จัดการบัญชีผู้ใช้</p>
          </a>
        </li>
        <li>
          <a href="/editPage">
              <img src="/images/จัดการบัญชีผู้ใช้.png" alt="จัดการบัญชีผู้ใช้">
              <p>จัดการเนื้อหา</p>
          </a>
      </li>
        <li>

        </li>
        <li>
          <a href="/login/logout"><button class="logout">ออกจากระบบ</button></a>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="header">
        <h2>จัดการบัญชีผู้ใช้</h2>
      </div>

      <table class="user-table">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>อีเมล</th>
            <th>ชื่อ</th>
            <th>เพศ</th>
            <th>วันเกิด</th>
            <th>ลบ</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user, index)=> { %>

            <tr>
              <td>
                <%= index + 1 %>
              </td>
              <td>
                <p>
                  <%= user.email %>
                </p>

              </td>
              <td>
                <p>
                  <%= user.name %>
                </p>
              </td>
              <td>
                <p>
                  <%= user.sex %>
                </p>
              </td>
              <td>
                <p>
                  <%= user.age %>
                </p>
              </td>

              <td><a href="/userdetails/delete/<%= user._id %>" onclick="return confirmDelete();">
                  <button class="delete-btn">ลบ</button>
                </a></td>
            </tr>
            <% }) %>
              <tr>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</body>

</html>